input[type='checkbox'] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #409fd6 !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z" fill="%23ffffff" /></svg>');
}
